<ui:composition xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core">
    <p:defaultCommand target="saveNewLocation" />
    <table>
        <tr>
            <td>Plaats</td>
            <td><h:inputText id="Plaats" name="Plaats" value="#{locatieBean.newLocatie.woonplaats}"  required="true"  /></td>
        </tr>
        <tr>
            <td colspan="2">
                <h:message for="Plaats" style="color:red" />
            </td>
        </tr>
        <tr>
            <td>Straatnaam</td>
            <td><h:inputText id="Straatnaam" name="Straatnaam"  value="#{locatieBean.newLocatie.straatnaam}"  required="true"  /></td>
        </tr>
        <tr>
            <td colspan="2">
                <h:message for="Straatnaam" style="color:red" />
            </td>
        </tr>
        <tr>
            <td>Huisnummer/ Toevoeging</td>
            <td>
                <h:inputText id="toevoeging" value="#{locatieBean.newLocatie.toevoeging}" style="float:right;" size="5" />
                <p:spinner  id="Nummer" name="Nummer"  size="4"  stepFactor="1"
                           value="#{locatieBean.newLocatie.nummer}"  required="true" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h:message for="Nummer" style="color:red" />
            </td>
        </tr>
        <tr>
            <td>Postcode</td>
            <td><h:inputText id="postcodeLocatie" name="postcodeLocatie"
                             value="#{locatieBean.newLocatie.postcode}"    />
            </td>
        </tr>
        <tr>
            <td>UKGR CODE</td>
            <td>
                <p:spinner min="0" id="ukgrcode" name="ukgrcode"  size="4" max="99999" stepFactor="1"
                            value="#{locatieBean.newLocatie.ukgrcode}"  required="true" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h:message for="ukgrcode" style="color:red" />
            </td>
        </tr>
        <tr>
            <td>Telefoon</td>
            <td><h:inputText id="telefoon" value="#{locatieBean.newLocatie.telefoon}" /></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right;">
                <h:commandLink  id="saveNewLocation"  title="Opslaan"
                                action="#{locatieBean.saveNewLocatie}"  >
                    <h:graphicImage   library="images" name="icons8-save-close-32.png"/>
                </h:commandLink>
                &#160;
                <h:commandLink  id="cancelAddLocation"  title="Annuleren"
                                immediate="true" action="#{locatieBean.cancelAddLocatie}"  >
                    <h:graphicImage   library="images" name="icons8-return-30.png"/>
                </h:commandLink>
            </td>
        </tr>
    </table>
    <p:focus for="Plaats"/>

</ui:composition>