<ui:composition xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <p:defaultCommand target="updateLocation" />
    <table>
        <tr>
            <td>Plaats</td>
            <td><h:inputText id="Plaats" name="Plaats" value="#{locatieBean.currentLocatie.woonplaats}"  required="true"  /></td>
        </tr>
        <tr>
            <td colspan="2">
                <h:message for="Plaats" style="color:red" />
            </td>
        </tr>
        <tr>
            <td>Straatnaam</td>
            <td><h:inputText id="Straatnaam" name="Straatnaam"  value="#{locatieBean.currentLocatie.straatnaam}"  required="true"  /></td>
        </tr>
        <tr>
            <td colspan="2">
                <h:message for="Straatnaam" style="color:red" />
            </td>
        </tr>
        <tr>
            <td>Huisnummer/ Toevoeging</td>
            <td>
                <h:inputText id="toevoeging" value="#{locatieBean.currentLocatie.toevoeging}" style="float:right;" size="5" />
                <p:spinner  id="Nummer" name="Nummer"  size="4"  stepFactor="1"
                           value="#{locatieBean.currentLocatie.nummer}"  required="true" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h:message for="Nummer" style="color:red" />
            </td>
        </tr>
        <tr>
            <td>Postcode</td>
            <td><h:inputText id="postcodeLocatie" name="postcodeLocatie"
                             value="#{locatieBean.currentLocatie.postcode}"    />
            </td>
        </tr>
        <tr>
            <td>UKGR CODE</td>
            <td>
                <p:spinner min="0" id="ukgrcode" name="ukgrcode"  size="4" max="99" stepFactor="1"
                           value="#{locatieBean.currentLocatie.ukgrcode}"  required="true" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h:message for="ukgrcode" style="color:red" />
            </td>
        </tr>
        <tr>
            <td>Telefoon</td>
            <td><h:inputText id="telefoon" value="#{locatieBean.currentLocatie.telefoon}" /></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right;">
                <div style="float:right;width:75px;">
                    <h:commandButton id="updateLocation" styleClass="buttonSave"
                                     action="#{locatieBean.updateLocatie}"   title="Opslaan" />
                    <div>
                        <h:commandLink  id="cancelAddLocation"  title="Annuleren"
                                        immediate="true" action="#{locatieBean.cancelUpdateLocatie}"  >
                            <h:graphicImage   library="images" name="icons8-return-30.png"/>
                        </h:commandLink>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <p:focus for="Plaats"/>

</ui:composition>