<ui:composition xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../template/commonLayout.xhtml" >
    <ui:param name="usebean"  value="#{locatieBean}"  />
    <ui:define name="content">
        <div style="display:block;overflow:hidden;">
            <h:form id="LocatieLijst" name="LocatieLijst"
                    rendered="#{empty locatieBean.newLocatie and empty locatieBean.currentLocatie }" >
                <ui:include src="listLocaties.xhtml" />
            </h:form>
            <h:form id="ToevoegLocatie" name="ToevoegLocatie"  rendered="#{not empty locatieBean.newLocatie}" >
                <ui:include src="addLocatie.xhtml" />
            </h:form>
            <h:form id="WijzigLocatie" name="WijzigLocatie" rendered="#{not empty locatieBean.currentLocatie}" >
                <ui:include src="editlocatie.xhtml" />
            </h:form>
        </div>
    </ui:define>
</ui:composition>
