<ui:composition
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:f="http://xmlns.jcp.org/jsf/core">
    <p:dataTable value="#{locatieBean.locaties}" var="locatie"
                 styleClass="people"
                 rowClasses="odd,even"
                 reflow="true" rows="10" paginator="true" paginatorPosition="bottom" paginatorAlwaysVisible="false"
                 binding="#{locatieBean.locatieTable}" style="width:700px;font-size:10pt;margin:0; padding:0;">
        <p:column headerText="Woonplaats" sortBy="#{locatie.woonplaats}">
            <h:outputText value="#{locatie.woonplaats}"/>
        </p:column>
        <p:column headerText="Adres" sortBy="#{locatie.straatnaam}">
            <h:outputText value="#{locatie.straatnaam} #{locatie.nummer} #{locatie.toevoeging}"/>
        </p:column>
        <p:column headerText="Code" sortBy="#{locatie.ukgrcode}"  width="65px;" >
            <h:outputText value="#{locatie.ukgrcode}"/>
        </p:column>
        <p:column  width="65px;">
            <h:commandLink action="#{locatieBean.gotoLocatie}" title="Locatie Wijzigen">
                <h:graphicImage library="images" name="edit.png"  height="16px" />
                <f:setPropertyActionListener target="#{locatieBean.currentLocatie}" value="#{locatie}"  />
            </h:commandLink>
        </p:column>
        <f:facet name="footer" >
            <div style="text-align:right;">
                <h:commandLink action="#{locatieBean.addNewLocatie}" title="Locatie Toevoegen">
                    <h:graphicImage library="images" name="newcopy30.png"  height="30px" />
                </h:commandLink>
            </div>
        </f:facet>
    </p:dataTable>
</ui:composition>