<ui:composition
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:f="http://xmlns.jcp.org/jsf/core">
    <p:dataTable value="#{locatieBean.locaties}" var="locatie"
                 styleClass="people"
                 rowClasses="odd,even"
                 binding="#{locatieBean.locatieTable}" >
        <p:column>
            <!-- column header -->
            <f:facet name="header">
                <h:commandLink action="#{locatieBean.orderWoonplaats}" style="text-decoration: none; color:yellow;">
                    Woonplaats
                </h:commandLink>
            </f:facet>
            <!-- row record -->
            #{locatie.woonplaats}
        </p:column>
        <p:column>
            <f:facet name="header">Adres</f:facet>
            #{locatie.straatnaam} #{locatie.nummer} #{locatie.toevoeging}
        </p:column>
        <p:column>
            <f:facet name="header">
                <h:commandLink action="#{locatieBean.orderUkgrCode}" style="text-decoration: none; color:yellow;">
                    Ukgr Code
                </h:commandLink>
            </f:facet>

            #{locatie.ukgrcode}
        </p:column>
        <p:column>
            <f:facet name="header">
                <h:outputText value="Selecteren"/>
            </f:facet>
            <h:commandButton value="Select" action="#{locatieBean.gotoLocatie}">
                <f:setPropertyActionListener target="#{locatieBean.currentLocatie}" value="#{locatie}" />
            </h:commandButton>
        </p:column>
        <f:facet name="footer" >
            <div style="text-align:right;">
                <h:commandButton value="Toevoegen" type="submit" action="#{locatieBean.addNewLocatie}" />
            </div>
        </f:facet>
    </p:dataTable>
</ui:composition>