<ui:composition xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">
    <h:form id="addBezoekerForm" name="addBezoekerForm" enctype="multipart/form-data"  >
        <h2>Bezoeker Toevoegen</h2>
        <p:defaultCommand target="saveNewBoezoeker" />
        <table>
            <tr>
                <td>email</td>
                <td><h:inputText id="emailEdit" value="#{bezoekersJsfBean.newBezoeker.email}"    /> </td>
                <td><h:message for="emailEdit" style="color:red" /></td>
            </tr>
            <tr>
                <td  title="localização da igreja">Locatie:</td>
                <td>
                    <h:selectOneListbox value="#{bezoekersJsfBean.newBezoeker.locatieId}"   size="1">
                        <f:selectItems value="#{bezoekersJsfBean.locaties}" var="loc"
                                       itemLabel="#{loc.woonplaats}, #{loc.straatnaam}"
                                       itemValue="#{loc.id}" />
                    </h:selectOneListbox>
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td>Achternaam</td>
                <td><h:inputText id="achternaam" value="#{bezoekersJsfBean.newBezoeker.achternaam}"  required="true"  /></td>
                <td><h:message for="achternaam" style="color:red" /></td>
            </tr>
            <tr>
                <td>Voornaam</td>
                <td><h:inputText id="voornaam" value="#{bezoekersJsfBean.newBezoeker.voornaam}"  required="true"  /></td>
                <td><h:message for="voornaam" style="color:red" /></td>
            </tr>
            <tr>
                <td>Geslacht</td>
                <td>
                    <h:selectOneListbox id="gender" value="#{bezoekersJsfBean.newBezoeker.geslacht}" size="2">
                        <f:selectItem itemLabel="Man" itemValue="M" />
                        <f:selectItem itemLabel="Vrouw" itemValue="V" />
                    </h:selectOneListbox>
                </td>
                <td><h:message for="gender" style="color:red" /></td>
            </tr>
            <tr>
                <td title="formaat: dd-mm-yyyy">
                    Geboortedatum<br />
                    [dd-mm-yyyy]
                </td>
                <td>
                    <p:calendar id="geboortedatum" value="#{bezoekersJsfBean.newBezoeker.geboortedatum}" name="transactiedatum"
                                yearRange="c-150:c" navigator="true"  pattern="dd-MM-yyyy" required="true" />

                </td>
                <td><h:message for="geboortedatum" style="color:red" /></td>
            </tr>
            <tr>
                <td>Postcode</td>
                <td><h:inputText id="postcode" value="#{bezoekersJsfBean.newBezoeker.postcode}"  required="true"  /></td>
                <td><h:message for="postcode" style="color:red" /></td>
            </tr>
            <tr>
                <td>Woonplaats</td>
                <td><h:inputText id="woonplaats" value="#{bezoekersJsfBean.newBezoeker.woonplaats}"  required="true"  /></td>
                <td><h:message for="woonplaats" style="color:red" /></td>
            </tr>
            <tr>
                <td>Straatnaam</td>
                <td><h:inputText id="straatnaam" value="#{bezoekersJsfBean.newBezoeker.straatnaam}"  required="true"  /></td>
                <td><h:message for="straatnaam" style="color:red" /></td>
            </tr>
            <tr>
                <td>Huisnummer</td>
                <td><h:inputText id="huisnummer" value="#{bezoekersJsfBean.newBezoeker.nummer}"  required="true"  /></td>
                <td><h:message for="huisnummer" style="color:red" /></td>
            </tr>
            <tr>
                <td>Telefoon nr. (Dag)</td>
                <td><h:inputText id="telefoonDag" value="#{bezoekersJsfBean.newBezoeker.telefoonDag}"  /></td>
                <td><h:message for="telefoonDag" style="color:red" /></td>
            </tr>
            <tr>
                <td>Telefoon nr. (nacht)</td>
                <td><h:inputText id="telefoonNacht" value="#{bezoekersJsfBean.newBezoeker.telefoonNacht}"   /></td>
                <td><h:message for="telefoonNacht" style="color:red" /></td>
            </tr>
            <tr>
                <td>Hoe Contact met Kerk</td>
                <td>
                    <h:inputTextarea id="hoecontactkerk" row = "40" col = "40"
                                     value = "#{bezoekersJsfBean.newBezoeker.hoecontactkerk}" readonly="false"/>
                </td>
                <td><h:message for="hoecontactkerk" style="color:red" /></td>

            </tr>
            <tr>
                <td>Foto</td>
                <td>
                    <p:fileUpload id="newBezoekersImage" mode="simple"
                                  label="Kies de Foto &#160; &#160; &#160;"
                                 value="#{bezoekersJsfBean.newBezoekersImage}"
                                 allowTypes="/(\.|\/)(gif|jpe?g|png)$/"  />

                </td>
                <td><p:message for="newBezoekersImage" style="color:red" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <h:selectBooleanCheckbox id="toestemming" value="#{bezoekersJsfBean.newBezoeker.toestemming}"  style="float:left;" />
                    <h:outputLabel for="toestemming">Toestemming verleend aan UKGR</h:outputLabel>
                </td>
                <td style="text-align: right;" >
                    <div style="float:right;width:75px;">
                        <h:commandButton id="saveNewBoezoeker" styleClass="buttonSave"
                                         action="#{bezoekersJsfBean.saveAddBezoeker}"  title="Opslaan" />
                        <div>
                            <h:commandLink  id="cancelNewBezoeker"  title="Annuleren"   immediate="true"
                                            action="#{bezoekersJsfBean.cancelAddBezoeker}"  >
                                <h:graphicImage   library="images" name="icons8-return-30.png"/>
                            </h:commandLink>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <p:focus for="achternaam"/>
    </h:form>
</ui:composition>