<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets" template="../template/commonLayout.xhtml" >
<ui:param name="usebean"  value="#{bezoekersJsfBean}"  />
<ui:define name="content">
    <div style="display:block;overflow:hidden;">
        <ui:fragment rendered="#{empty bezoekersJsfBean.currentBezoeker  and empty bezoekersJsfBean.newBezoeker}">
            <ui:include src="searchByEmail.xhtml" />
        </ui:fragment>
        <ui:fragment rendered="#{not empty bezoekersJsfBean.newBezoeker}">
            <ui:include src="addBezoeker.xhtml" />
        </ui:fragment>
        <ui:fragment rendered="#{not empty bezoekersJsfBean.currentBezoeker}">
            <ui:include src="showBezoeker.xhtml" />
        </ui:fragment>
    </div>
</ui:define>
</ui:composition>