<ui:composition xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:t="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">
    <h:form id="searchEmail" name="searchEmail" enctype="multipart/form-data"  >
        <p:defaultCommand target="searchUserCmd" />
       <table>
           <tr>
               <td>Achternaam</td>
               <td>Voornaam</td>
               <td>Email</td>
               <td>   &#160; </td>
           </tr>
           <tr>
               <td><h:inputText id="achternaamSearch" value="#{bezoekersJsfBean.achternaamZoek}"  size="20"/> </td>
               <td><h:inputText id="voornaamSearch" value="#{bezoekersJsfBean.voornaamZoek}"  size="15"/> </td>
               <td><h:inputText id="emailSearch" value="#{bezoekersJsfBean.emailZoek}"  size="30"/> </td>
               <td style="vertical-align: middle;">
                   <h:commandButton id="searchUserCmd" styleClass="buttonSearch"
                                    action="#{bezoekersJsfBean.searchUser}" title="Opzoeken" />
                   <h:commandButton  id="toevoegenBezoeker"  styleClass="buttonAddPerson" title="Toevoegen"
                                     action="#{bezoekersJsfBean.addUser}"  />
               </td>
           </tr>
       </table>
       <p:focus for="achternaamSearch"/>
    </h:form>

    <h:form id="PersonToEditSelector"
            rendered="#{not empty bezoekersJsfBean.selectBezoeker}">
        <t:dataTable value="#{bezoekersJsfBean.selectBezoeker}" var="person"
                     styleClass="people"
                     reflow="true" rows="5" paginator="true" paginatorPosition="bottom" paginatorAlwaysVisible="false"
                     rowClasses="odd,even"
                     selection="#{bezoekersJsfBean.currentBezoeker}"
                     rowKey="#{person.id}" selectionMode="single"
                     binding="#{bezoekersJsfBean.personTable}" style="font-size:11pt;margin:0;padding:0;">
            <p:ajax event="rowSelect" immediate="true"  listener="#{bezoekersJsfBean.onRowSelect}" />
            <t:column headerText="Acternaam"  sortBy="#{person.achternaam}" >
                <h:outputText value="#{person.achternaam}" />
            </t:column>
            <t:column headerText="Voornaam"  sortBy="#{person.voornaam}" >
                <h:outputText value="#{person.voornaam}" />
            </t:column>
            <t:column headerText="Postcode"   style="width:110px;"  sortBy="#{person.postcode}" >
                <h:outputText value="#{person.postcode}" />
            </t:column>
            <t:column headerText="Woonplaats"  sortBy="#{person.woonplaats}" >
                <h:outputText value="#{person.woonplaats}" />
            </t:column>
            <t:column headerText="Geboortedatum"  style="width:150px;" sortBy="#{person.geboortedatum}">
                <h:outputText value="#{person.geboortedatum}">
                    <f:convertDateTime pattern="dd-MM-yyyy" timeZone="CET" type="date" />
                </h:outputText>
            </t:column>
        </t:dataTable>
    </h:form>
</ui:composition>
