<ui:composition xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

<h:graphicImage width="200px" style="float:right;margin-left:10px;overflow:hidden;display:block;" value="/fileData#{bezoekersJsfBean.currentUserImage.id}.#{bezoekersJsfBean.currentUserImage.extension}"
                    rendered="#{not empty bezoekersJsfBean.currentUserImage}"/>
<div>
    <h:form id="editBezoekerForm" name="editBezoekerForm" enctype="multipart/form-data"  >
        <h2>Bezoeker Wijzigen</h2>
        <p:defaultCommand target="saveEditBezoeker" />
        <table>
            <tr>
                <td>email (nieuw)</td>
                <td><h:inputText id="emailNew" value="#{bezoekersJsfBean.newEmail}"    />  [#{bezoekersJsfBean.currentBezoeker.email}]</td>
                <td><h:message for="emailNew" style="color:red" /></td>
            </tr>
            <tr>
                <td  title="localização da igreja">Locatie:</td>
                <td>
                    <h:selectOneListbox value="#{bezoekersJsfBean.currentBezoeker.locatieId}"   size="1">
                        <f:selectItems value="#{bezoekersJsfBean.locaties}" var="loc"
                                       itemLabel="#{loc.woonplaats}, #{loc.straatnaam}"
                                       itemValue="#{loc.id}" />
                    </h:selectOneListbox>
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td>Achternaam</td>
                <td><h:inputText id="achternaam" value="#{bezoekersJsfBean.currentBezoeker.achternaam}"  required="true"  /></td>
                <td><h:message for="achternaam" style="color:red" /></td>
            </tr>
            <tr>
                <td>Voornaam</td>
                <td><h:inputText id="voornaam" value="#{bezoekersJsfBean.currentBezoeker.voornaam}"  required="true"  /></td>
                <td><h:message for="voornaam" style="color:red" /></td>
            </tr>
            <tr>
                <td>Geslacht</td>
                <td>
                    <h:selectOneListbox id="gender" value="#{bezoekersJsfBean.currentBezoeker.geslacht}" size="2">
                        <f:selectItem itemLabel="Man" itemValue="M" />
                        <f:selectItem itemLabel="Vrouw" itemValue="V" />
                    </h:selectOneListbox>
                </td>
                <td><h:message for="gender" style="color:red" /></td>
            </tr>
            <tr>
                <td title="formaat: dd-mm-yyyy">
                    Geboortedatum<br />
                    [dd-mm-yyyy]
                </td>
                <td>
                    <p:calendar id="geboortedatum" value="#{bezoekersJsfBean.currentBezoeker.geboortedatum}" name="transactiedatum"
                                yearRange="c-150:c" navigator="true"  pattern="dd-MM-yyyy" required="true" />

                </td>
                <td><h:message for="geboortedatum" style="color:red" /></td>
            </tr>
            <tr>
                <td>Postcode</td>
                <td><h:inputText id="postcode" value="#{bezoekersJsfBean.currentBezoeker.postcode}"  required="true"  /></td>
                <td><h:message for="postcode" style="color:red" /></td>
            </tr>
            <tr>
                <td>Woonplaats</td>
                <td><h:inputText id="woonplaats" value="#{bezoekersJsfBean.currentBezoeker.woonplaats}"  required="true"  /></td>
                <td><h:message for="woonplaats" style="color:red" /></td>
            </tr>
            <tr>
                <td>Straatnaam</td>
                <td><h:inputText id="straatnaam" value="#{bezoekersJsfBean.currentBezoeker.straatnaam}"  required="true"  /></td>
                <td><h:message for="straatnaam" style="color:red" /></td>
            </tr>
            <tr>
                <td>Huisnummer</td>
                <td><h:inputText id="huisnummer" value="#{bezoekersJsfBean.currentBezoeker.nummer}"  required="true"  /></td>
                <td><h:message for="huisnummer" style="color:red" /></td>
            </tr>
            <tr>
                <td>Telefoon nr. (Dag)</td>
                <td><h:inputText id="telefoonDag" value="#{bezoekersJsfBean.currentBezoeker.telefoonDag}"  /></td>
                <td><h:message for="telefoonDag" style="color:red" /></td>
            </tr>
            <tr>
                <td>Telefoon nr. (nacht)</td>
                <td><h:inputText id="telefoonNacht" value="#{bezoekersJsfBean.currentBezoeker.telefoonNacht}"   /></td>
                <td><h:message for="telefoonNacht" style="color:red" /></td>
            </tr>
            <tr>
                <td>Hoe Contact met Kerk</td>
                <td>
                    <h:inputTextarea id="hoecontactkerk" row = "4" col = "40"
                                     value = "#{bezoekersJsfBean.currentBezoeker.hoecontactkerk}" readonly="false"/>
                </td>
                <td><h:message for="hoecontactkerk" style="color:red" /></td>

            </tr>
            <tr>
                <td>Foto</td>
                <td>
                    <p:fileUpload id="newBezoekersImage" mode="simple"
                                  label="Kies de Foto &#160; &#160; &#160;"
                                  value="#{bezoekersJsfBean.newBezoekersImage}"
                                  allowTypes="/(\.|\/)(gif|jpe?g|png)$/"  />

                </td>
                <td><p:message for="newBezoekersImage" style="color:red" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <h:selectBooleanCheckbox id="toestemming" value="#{bezoekersJsfBean.currentBezoeker.toestemming}"  style="float:left;" />
                    <h:outputLabel for="toestemming">Toestemming verleend aan UKGR</h:outputLabel>
                </td>
                <td style="text-align: right;" >
                    <div style="float:right;width:120px;">
                        <h:commandButton id="saveEditBezoeker" styleClass="buttonSave"
                                         action="#{bezoekersJsfBean.saveEditBezoeker}"  title="Opslaan" />
                        <div>
                            <h:commandLink  id="deleteBezoeker"  title="Verwijder Bezoeker" immediate="true"
                                            action="#{bezoekersJsfBean.deleteBezoeker}"  >
                                <h:graphicImage   library="images" name="trash_can2_delete.png"/>
                            </h:commandLink>
                            &#160;
                            <h:commandLink  id="cancelEditBezoeker"  title="Annuleren"   immediate="true"
                                            action="#{bezoekersJsfBean.cancelEditBezoeker}"  >
                                <h:graphicImage   library="images" name="icons8-return-30.png"/>
                            </h:commandLink>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <p:focus for="achternaam"/>
    </h:form>


</div>
</ui:composition>