<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <title>${pageTitle} #{beforeLoginBean.settings.pageTitle}</title>
    <link rel="shortcut icon" href="#{resource['images/favicon.ico']}" />
    <h:outputStylesheet library="css" name="style.css"  />
</h:head>
<h:body>
    <div class="LoginPage">
        <div style="display:block;overflow:hidden;">
            <div  style="display:block;overflow:hidden;">
                <ui:insert name="content" >
                    <ui:include src="centerContent.xhtml" />
                </ui:insert>
            </div>
        </div>
    </div>
</h:body>
</html>