<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html"
                template="../template/centerLayout.xhtml" >
<ui:param name="pageTitle" value="Aanmelden" />
<ui:define name="content">
    <h:graphicImage library="images"  name="sitelogo_red.png" style="float: left" width="55px"/>
    <a href="https://trustlogo.com/" title="Secured by Comodo" class="comodo" target="_blank" />
    <H1 style="text-align:center;margin:0; ">Inloggen #{beforeLoginBean.settings.pageTitle}</H1>
    <form action="check.html"  method="post" class="login" >

        <table class="login" >
            <tr>
                <td>Username</td>
                <td><input type="text" name="username" value="#{username}" autofocus="autofocus" /></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" value="" /></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:right;"><input type="submit" value="Aanmelden" /></td>
            </tr>
            <tr>
                <td colspan="2" style="color:red;">#{error} </td>
            </tr>
        </table>
    </form>
</ui:define>
</ui:composition>