<ui:composition xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:component rendered="#{userPasswordBean.webUserData.currentlevel.addUsers}">
        <h2>Mail Instellingen</h2>
        <h:form  name="updateMailServer" id="updateMailServer" >
            <ui:fragment>
                <p:defaultCommand target="WijzigMailData" />
                <table>
                    <tr>
                        <td>hostname</td>
                        <td>
                            <h:inputText id="hostname" name="hostname" size="25"
                                         value="#{userPasswordBean.appSetting.hostname}" required="true"/>

                        </td>
                        <td>
                            <h:message for="hostname" style="color:red" />
                        </td>
                    </tr>
                    <tr>
                        <td>port</td>
                        <td>
                            <h:inputText id="port" name="port" size="25"
                                         value="#{userPasswordBean.appSetting.port}" required="true"/>

                        </td>
                        <td>
                            <h:message for="port" style="color:red" />
                        </td>
                    </tr>
                    <tr>
                        <td>Username</td>
                        <td>
                            <h:inputText id="username" name="username" size="25"
                                         value="#{userPasswordBean.appSetting.username}" required="true"/>

                        </td>
                        <td>
                            <h:message for="port" style="color:red" />
                        </td>
                    </tr>
                    <tr>
                        <td>Wachtwoord</td>
                        <td>
                            <h:inputSecret id="wachtwoord" name="wachtwoord" size="25" redisplay="true"
                                         value="#{userPasswordBean.appSetting.wachtwoord}" required="true"/>

                        </td>
                        <td>
                            <h:message for="wachtwoord" style="color:wachtwoord" />
                        </td>
                    </tr>
                    <tr>
                        <td>Afzender email</td>
                        <td>
                            <h:inputText id="sender" name="sender" size="25"
                                         value="#{userPasswordBean.appSetting.sender}" required="true"/>

                        </td>
                        <td>
                            <h:message for="sender" style="color:wachtwoord" />
                        </td>
                    </tr>
                    <tr>
                        <td>Afzender Naam</td>
                        <td>
                            <h:inputText id="sendername" name="sendername" size="25"
                                         value="#{userPasswordBean.appSetting.sendername}" required="true"/>

                        </td>
                        <td>
                            <h:message for="sendername" style="color:wachtwoord" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" >
                            <h:commandButton  id="WijzigMailData" name="WijzigMailData" style="float:right;"
                                              value="Opslaan"  action="#{userPasswordBean.updateMailSetting}" />
                            <h:message for="WijzigMailData" style="color:navy" />
                        </td>
                    </tr>

                </table>
            </ui:fragment>
            <p:focus for="hostname"/>
        </h:form>

    </ui:component>
</ui:composition>