<ui:composition xmlns:t="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:a="http://java.sun.com/jsf/composite"
                xmlns:c="http://java.sun.com/jsp/jstl/core">
    <ui:component rendered="#{userPasswordBean.webUserData.currentlevel.addUsers}">
        <ui:include src="userSearch.xhtml" />
        <ui:include src="userSelect.xhtml" />
        <ui:include src="userEdit.xhtml" />
        <ui:include src="userAdd.xhtml" />
    </ui:component>
</ui:composition>