<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets" template="../template/commonLayout.xhtml" >
    <ui:param name="usebean"  value="#{userPasswordBean}"  />
    <ui:define name="content">
        <div style="display:block;overflow:hidden;">
            <div style="float:right;width:400px;">
                <ui:include src="mailserver.xhtml" rendered="#{userPasswordBean.webUserData.currentlevel.addUsers}"/>
            </div>
            <ui:include src="updatePassword.xhtml" />
        </div>
        <ui:include src="otherUsers.xhtml" rendered="#{userPasswordBean.webUserData.currentlevel.addUsers}"/>
    </ui:define>
</ui:composition>