<ui:composition xmlns:t="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:a="http://java.sun.com/jsf/composite"
                xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:form id="GebruikerSelector"
            rendered="#{not empty userPasswordBean.otherUsers
            and empty userPasswordBean.newUser
            and empty userPasswordBean.currentUser}">
        <h2>Selecteer gebruiker</h2>
        <t:dataTable value="#{userPasswordBean.otherUsers}" var="user"
                     styleClass="people"
                     rowClasses="odd,even"
                     reflow="true" rows="5" paginator="true" paginatorPosition="bottom"
                     binding="#{userPasswordBean.userTable}" style="font-size:10pt;margin:0; padding:0;">
            <t:column headerText="userID"  style="width:90px;"  sortBy="#{user.userid}">
                <h:outputText value="#{user.userid}"/>
            </t:column>
            <t:column headerText="Rechten"  style="width:80px;"  sortBy="#{user.currentlevel}">
                <h:outputText value="#{user.currentlevel}"/>
            </t:column>
            <t:column headerText="Voornaam" sortBy="#{user.voornaam}" style="width:120px;">
                <h:outputText value="#{user.voornaam}"  />
            </t:column>
            <t:column headerText="Achternaam" sortBy="#{user.achternaam}">
                <h:outputText value="#{user.achternaam}"  />
            </t:column>
            <t:column  width="65px;">
                <h:commandButton value="Wijzig" action="#{userPasswordBean.editUser}">
                    <f:setPropertyActionListener target="#{userPasswordBean.currentUser}" value="#{user}" />
                </h:commandButton>
            </t:column>
            <f:facet name="footer" >
                <div style="text-align:right;">
                    <h:commandButton  value="Annuleren"
                                      action="#{userPasswordBean.cancelListShow}" />&#160;
                    <h:commandButton  value="Toevoegen"
                                      action="#{userPasswordBean.addNewUser}" />&#160;
                </div>
            </f:facet>
        </t:dataTable>
    </h:form>

</ui:composition>