<ui:composition xmlns:t="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:a="http://java.sun.com/jsf/composite"
                xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:form id="GebruikerToevoegen"  rendered="#{not empty userPasswordBean.newUser}">
        <h2>Toevoegen nieuwe gebruiker</h2>
        <table cellspacing="0">
            <tr>
                <td  style="width: 60px;">
                    User ID
                </td>
                <td  style="width: 100px;">
                    <h:inputText size="20" id="userID" name="userID" value="#{userPasswordBean.newUser.userid}"
                                 autofocus="true" required="true" >
                    </h:inputText>
                </td>
                <td>
                    <h:message for="userID" style="color:red" />
                </td>
            </tr>
            <tr>
                <td>
                    Achternaam
                </td>
                <td>
                    <h:inputText size="20" id="achternaam" name="achternaam" value="#{userPasswordBean.newUser.achternaam}"
                                 autofocus="true" required="true" >
                    </h:inputText>
                </td>
                <td>
                    <h:message for="achternaam" style="color:red" />
                </td>
            </tr>
            <tr>
                <td>
                    Voornaam
                </td>
                <td>
                    <h:inputText size="20" id="voornaam" name="voornaam" value="#{userPasswordBean.newUser.voornaam}"
                                 autofocus="true" required="true">
                    </h:inputText>
                </td>
                <td>
                    <h:message for="voornaam" style="color:red" />
                </td>
            </tr>
            <tr>
                <td>Rechten</td>
                <td>
                    <h:selectOneListbox id="accessLevel" name="accessLevel" size="1" value="#{userPasswordBean.newUser.currentlevel}">
                        <f:selectItems value="#{userPasswordBean.accessLevels}" var="level"
                                       itemLabel="#{level}" itemValue="#{level}" />
                    </h:selectOneListbox>

                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td  colspan="2" style="text-align: right">
                    <h:commandButton  value="Annuleren"
                                      immediate="true"    action="#{userPasswordBean.cancleNewUser}" />&#160;
                    <h:commandButton  value="Opslaan" id="saveNewGebruiker"
                                      action="#{userPasswordBean.saveNewUser}" />&#160;


                </td>
                <td>&#160;</td>
            </tr>
            <tr>
                <td  colspan="2">
                   Initieel wachtwoord is "welkom01". De gebruiker dient deze zelf te wijzigen.
                </td>
                <td>&#160;</td>
            </tr>
        </table>
        <t:defaultCommand target="saveNewGebruiker" />
    </h:form>
</ui:composition>