<ui:composition
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
>
    <h:form id="editMessage" name="editMessage" enctype="multipart/form-data"  >
        <p:defaultCommand target="saveMessageCmd" />
        <table>
            <tr>
                <td>
                    Titel
                </td>
                <td><h:message for="titelEdit" style="color:red" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <h:inputText id="titelEdit" value="#{messageJsfBean.editMessage.title}" size="35" required="true" />
                </td>
            </tr>
            <tr>
                <td>
                    Boodschap
                </td>
                <td><h:message for="boodschap" style="color:red" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <p:editor widgetVar="editorWidget"   id="boodschap" style="width:100%"
                            value="#{messageJsfBean.editMessage.messagebody}"  height="400"/>
                </td>
            </tr>
            <tr>
                <td>Plaatje</td>
                <td><h:message for="newMessageImage" style="color:red" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <p:fileUpload id="newMessageImage" mode="advanced" auto="true"
                                  fileUploadListener="#{messageJsfBean.imageCalculator}"
                                  label="Kies een Plaatje &#160; &#160; &#160;"
                                  value="#{messageJsfBean.newMessagePlaatje}"
                                  update="imageData"
                                  allowTypes="/(\.|\/)(gif|jpe?g|png)$/"  />
                    <h:inputTextarea name="imageData"
                                     id="imageData" cols="80" rows="5" style="width:100%;"
                                     value="#{messageJsfBean.hintImage}"/>

                </td>
            </tr>
            <tr>
                <td style="text-align: right;" colspan="2">
                    <div style="float:right;width:75px;">
                        <h:commandButton id="saveMessageCmd" styleClass="buttonSave"
                                         action="#{messageJsfBean.saveEditMessage}"  title="Opslaan" />
                        <div>
                            <h:commandLink  id="cancelAddMessage"  title="Annuleren"   immediate="true"
                                            action="#{messageJsfBean.cancelEditMessage}"  >
                                <h:graphicImage   library="images" name="icons8-return-30.png"/>
                            </h:commandLink>
                        </div>
                    </div>
                </td>


            </tr>
        </table>
        <p:focus for="titelEdit"/>
    </h:form>
</ui:composition>
