<ui:composition
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:t="http://primefaces.org/ui"
        xmlns:f="http://java.sun.com/jsf/core">
    <table>
        <tr>
            <td>Bericht</td>
            <td>
                <a href="#{messageJsfBean.contentBase}#{messageJsfBean.sendMessage.id}.html" target="_blank">#{messageJsfBean.sendMessage.title}</a>
            </td>
        </tr>
        <tr>
            <td style="width:80px;">
                Koptekst
            </td>
            <td>
                <h:inputTextarea name="koptekst"
                                 id="koptekstMsg" cols="180" rows="3" style="width:100%;"
                                 value="#{messageJsfBean.koptekst}"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <t:dataTable value="#{messageJsfBean.recipientInfoList}" var="person"
                             rendered="#{not empty messageJsfBean.recipientInfoList}"
                             styleClass="people"
                             rowClasses="odd,even"
                             binding="#{messageJsfBean.reciptientTable}" style="font-size:11pt;margin:0;padding:0;">
                    <t:column headerText="Naam"  style="width:200px;">
                        <h:outputText value="#{person.fullName}  (#{person.geslacht})" />
                    </t:column>
                    <t:column headerText="Telefoon"  style="width:85px;">
                        <h:outputText value="#{person.telefoonDag}" />
                    </t:column>
                    <t:column headerText="eMail"  >
                        <h:outputText value="#{person.email}" />
                    </t:column>
                    <t:column  style="width:75px;">
                        <h:commandButton id="removeRecient" styleClass="buttonRemoveReclient"
                                         action="#{messageJsfBean.removeRecipient(person)}"  title="Ontvanger Verwijderen" />
                        <h:commandButton id="pdfMessage" styleClass="buttonPDFforClient" disabled="#{messageJsfBean.disabledPdfPerson}"
                                         action="#{messageJsfBean.startPdfPrint(person)}"   title="Pdf downloaden" />
                    </t:column>
                </t:dataTable>
            </td>
        </tr>
        <tr>
            <td>
                Slot tekst
            </td>
            <td>
                <h:inputTextarea name="slotTekst"
                                 id="slotTekstMsg" cols="180" rows="3" style="width:100%;"
                                 value="#{messageJsfBean.slotTekst}"/>
            </td>
        </tr>
    </table>
</ui:composition>