<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets" template="../template/commonLayout.xhtml" >
    <ui:param name="usebean"  value="#{messageJsfBean}"  />
    <ui:define name="content">
        <div style="display:block;overflow:hidden;">
            <ui:fragment rendered="#{empty messageJsfBean.editMessage  and empty messageJsfBean.newMessage  and empty messageJsfBean.sendMessage and empty messageJsfBean.locationMessage}">
                <ui:include src="search.xhtml" />
            </ui:fragment>
            <ui:fragment rendered="#{not empty messageJsfBean.newMessage}">
                <ui:include src="newMessage.xhtml" />
            </ui:fragment>
            <ui:fragment rendered="#{not empty messageJsfBean.editMessage}">
                <ui:include src="editMessage.xhtml" />
            </ui:fragment>
            <ui:fragment rendered="#{not empty messageJsfBean.sendMessage}">
                <ui:include src="sendMessage.xhtml" />
            </ui:fragment>
            <ui:fragment rendered="#{not empty messageJsfBean.locationMessage}">
                <ui:include src="locationMessage.xhtml" />
            </ui:fragment>
        </div>
    </ui:define>
</ui:composition>