<ui:composition
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core">
    <h:form id="mainLocSendForm" >

        <table>
            <tr>
                <td  title="localização da igreja">Locatie:</td>
                <td>
                    <h:selectOneMenu value="#{messageJsfBean.selectedSendLocation}"  style="float:left;">
                        <f:selectItems value="#{messageJsfBean.searchLocatie}" var="loc"
                                       itemLabel="#{loc.woonplaats}, #{loc.straatnaam}"
                                       itemValue="#{loc.id}" />
                        <f:ajax listener="#{messageJsfBean.changeLocation}"  />
                    </h:selectOneMenu>
                    <div style="float:left;width:80px;margin-left:10px;">
                        <h:commandLink  id="cancelLocationMessage"  title="Annuleren"   immediate="true"
                                        action="#{messageJsfBean.endLocationSend}"  >
                            <h:graphicImage   library="images" name="icons8-return-30.png"/>
                        </h:commandLink>
                        <h:commandLink  id="DownloadLocationMessage"  title="ZipDownload"   immediate="true" style="margin-left:10px;"
                                        action="#{messageJsfBean.handleLocationDownload}"  >
                            <h:graphicImage   library="images" name="internet_download.png" width="24px" />
                        </h:commandLink>
                    </div>
                </td>

            </tr>
            <tr>
                <td>Bericht</td>
                <td>
                    <a href="#{messageJsfBean.contentBase}#{messageJsfBean.locationMessage.id}.html" target="_blank">#{messageJsfBean.locationMessage.title}</a>
                </td>
            </tr>
            <tr>
                <td style="width:80px;">
                    Koptekst
                </td>
                <td>
                    <h:inputTextarea name="koptekst"
                                     id="koptekstMsg" cols="180" rows="3" style="width:80%;"
                                     value="#{messageJsfBean.koptekst}"/>
                </td>
            </tr>

            <tr>
                <td>
                    Slot tekst
                </td>
                <td>
                    <h:inputTextarea name="slotTekst"
                                     id="slotTekstMsg" cols="180" rows="3" style="width:80%;"
                                     value="#{messageJsfBean.slotTekst}"/>
                </td>
            </tr>
        </table>
    </h:form>
</ui:composition>