<ui:composition xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:t="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">
    <h:form id="searchMessage" name="searchMessage" enctype="multipart/form-data"  >
        <p:defaultCommand target="searchMessageCmd" />

        <table>
            <tr>
                <td>Titel</td>
                <td> Ingevoerd vanaf [dd-mm-yyyy]</td>
                <td> &#160; </td>
            </tr>
            <tr>
                <td>
                    <p:inputText id="titelZoek" value="#{messageJsfBean.titleZoek}" size="35" required="true"/>
                </td>
                <td>
                    <p:calendar id="invoerDartum" value="#{messageJsfBean.invoerVanaf}" name="transactiedatum"
                                yearRange="c-50:c" navigator="true"  pattern="dd-MM-yyyy" />

                </td>
                <td>
                    <h:commandButton id="searchMessageCmd" styleClass="buttonSearch"
                                     action="#{messageJsfBean.handleSearch}" title="Opzoeken" style="float:none;"/>

                    <h:commandLink  id="toevoegenPayer"  title="Toevoegen" immediate="true"
                                    action="#{messageJsfBean.startAddMessage}"  >
                        <h:graphicImage   library="images" name="newcopy30.png"/>
                    </h:commandLink>

                </td>
            </tr>

            <tr>
                <td colspan="3">
                    <h:message for="titelZoek" style="color:red;display:block;" />
                    <h:message for="invoerDartum" style="color:red" />
                </td>
            </tr>
        </table>
        <p:focus for="titelZoek"/>
    </h:form>
    <h:form id="MessageSelector"
            rendered="#{not empty messageJsfBean.messageList}">
        <t:dataTable value="#{messageJsfBean.messageList}" var="msg"
                     styleClass="people"
                     reflow="true" rows="5" paginator="true" paginatorPosition="bottom" paginatorAlwaysVisible="false"
                     rowClasses="odd,even"
                     binding="#{messageJsfBean.messageTable}" style="font-size:11pt;margin:0;padding:0;">
            <t:column headerText="Datum"  style="width:150px;" sortBy="#{msg.createdate}">
                <h:outputText value="#{msg.createdate}">
                    <f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss" timeZone="CET" type="date" />
                </h:outputText>
            </t:column>
            <t:column headerText="Titel"  sortBy="#{msg.title}">
                <a href="#{messageJsfBean.contentBase}#{msg.id}.html" target="_blank">#{msg.title}</a>
            </t:column>
            <t:column  style="width:75px;">
                <h:commandLink action="#{messageJsfBean.startEditMessage}" title="Boodschap Wijzigen" style="float:left;margin-right:4px;">
                    <h:graphicImage library="images" name="edit.png"  height="16px" />
                    <f:setPropertyActionListener target="#{messageJsfBean.editMessage}" value="#{msg}"  />
                </h:commandLink>
                <h:commandLink action="#{messageJsfBean.startManualSend}" title="Boodschap Verzenden" style="float:left;margin-right:4px;">
                    <h:graphicImage library="images" name="user_add.png"  />
                    <f:setPropertyActionListener target="#{messageJsfBean.sendMessage}" value="#{msg}"  />
                </h:commandLink>
                <h:commandLink action="#{messageJsfBean.startLocationSend}" title="Locatie Verzending" style="float:left;margin-right:4px;">
                    <h:graphicImage library="images" name="internet_download.png"  width="24px" />
                    <f:setPropertyActionListener target="#{messageJsfBean.locationMessage}" value="#{msg}"  />
                </h:commandLink>
                &#160;
            </t:column>
        </t:dataTable>
    </h:form>
</ui:composition>
