<ui:composition
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:t="http://primefaces.org/ui"
        xmlns:f="http://java.sun.com/jsf/core">
    <h:form id="mainOuerForm" >
        <div style="clear: both">
            <div style="float:right;width:75px;margin-top:15px;">
                <h:commandLink  id="cancelAddMessage"  title="Annuleren"   immediate="true"
                                action="#{messageJsfBean.endManualSend}"  style="float: right;">
                    <h:graphicImage   library="images" name="icons8-return-30.png"/>
                </h:commandLink>
                <h:commandButton id="sendMessageCmd" styleClass="buttonMail"  immediate="false"
                                 rendered="#{not empty messageJsfBean.recipientInfoList}"
                                 action="#{messageJsfBean.handleManualSend}"  title="Verzenden" />
            </div>
            <div>
                <ui:fragment rendered="#{not empty messageJsfBean.recipientInfoList}" >
                    <ui:include src="finalSendOptions.xhtml" />
                </ui:fragment>
            </div>
        </div>
        &#160; <br />
        <div style="display:block; overflow:hidden;">
                <table>
                    <tr>
                        <td>Achternaam</td>
                        <td>Voornaam</td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>  <h:inputText id="Achternaam" value="#{messageJsfBean.searchRecipient.achternaam}" size="30" required="true"/></td>
                        <td>  <h:inputText id="Voornaam" value="#{messageJsfBean.searchRecipient.voornaam}" size="15" /></td>
                        <td>
                            <h:commandButton id="searchFromPerson" styleClass="buttonSearch" title="Uit de bezoekers ophalen"
                                             action="#{messageJsfBean.searchPerson}"  />
                        </td>
                    </tr>
                    <tr>
                        <td>  <h:message for="Achternaam" style="color:red" /> </td>
                        <td> </td>
                        <td> </td>
                    </tr>

                </table>
            </div>

        <t:dataTable value="#{messageJsfBean.searchedList}" var="person"  rendered="#{not empty messageJsfBean.searchedList}"
                     styleClass="people"
                     reflow="true" rows="5" paginator="true" paginatorPosition="bottom" paginatorAlwaysVisible="false"
                     rowClasses="odd,even"
                     binding="#{messageJsfBean.personTable}" style="font-size:11pt;margin:0;padding:0;">
            <t:column headerText="Acternaam"  sortBy="#{person.achternaam}" >
                <h:outputText value="#{person.achternaam}" />
            </t:column>
            <t:column headerText="Voornaam"  sortBy="#{person.voornaam}" >
                <h:outputText value="#{person.voornaam}" />
            </t:column>
            <t:column headerText="Postcode"   style="width:110px;"  sortBy="#{person.postcode}" >
                <h:outputText value="#{person.postcode}" />
            </t:column>
            <t:column headerText="Woonplaats"  sortBy="#{person.woonplaats}" >
                <h:outputText value="#{person.woonplaats}" />
            </t:column>
            <t:column headerText="Geboortedatum"  style="width:150px;" sortBy="#{person.geboortedatum}">
                <h:outputText value="#{person.geboortedatum}">
                    <f:convertDateTime pattern="dd-MM-yyyy" timeZone="CET" type="date" />
                </h:outputText>
            </t:column>
            <t:column  style="width:75px;">
                <h:commandButton id="AddSelectedRecient" styleClass="buttonAddOKPerson"
                                 action="#{messageJsfBean.addPerson(person)}"  title="Ontvanger Toevoegen" />
            </t:column>
        </t:dataTable>
        <t:focus for="Achternaam"/>
        <p:defaultCommand target="searchFromPerson" />
    </h:form>
</ui:composition>
