body{
    /*
    background: url(Blur-3.png.xhtml?ln=images) no-repeat center center fixed;
    -webkit-background-size: cover; !* For WebKit*!
    -moz-background-size: cover;    !* Mozilla*!
    -o-background-size: cover;      !* Opera*!
    background-size: cover;         !* Generic*!
    */

    background-color: lightskyblue ;


    font-family: Arial, Verdana, sans-serif;
    font-size: 11pt;
}

h1 {
    color: navy;
    margin-top : 0px;
}

td {
    vertical-align: top;
}


div.footer{
    font-size: 8pt;
    display:block;
    overflow:hidden;
    background-color: #fffcf9;
    width: 910px;
    margin-left : auto;
    margin-right: auto;
    border: groove 2px  white;
    text-align: center;
    vertical-align: middle;
}

div.footer img{
    -webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
    filter: grayscale(70%);
}


input[type='text']{
    background-color: white !important;
    color: black;
}

input[type='password']{
    background-color: white !important;
    color: black;
}

a.menuButton {
    display: inline-block;
    height : 20px;
    width:105px;
    text-decoration: none;
    font-family: Arial, Verdana, sans-serif;
    font-size: 11pt;
    text-align: center;
    background-color: aliceblue;
    color: darkgrey;
    border: 2px inset white;
    border-bottom: none;
    margin:0;
    padding-top : 3px;
}

a.menuButton:hover {
    color: black;
}

a.menuButton.current {
    background-color: #f0f4ff;
    border: groove 2px  white;
    border-bottom: none;
    height : 22px;
    color: darkblue;
    margin-bottom : -2px;
}

a.logout {
    float: right;
    width:50px;
    height:50px;
    background-image: url("sitelogo_red.png.xhtml?ln=images");
    background-size : 45px auto;
    background-repeat: no-repeat;
    background-position : center center;
}


a.logout:hover {
    background-image: url("gnome_logout.png.xhtml?ln=images");
}

input.logout {
    border : none;
    background-color: transparent;
    float: right;
    width:50px;
    height:50px;
    background-image: url("sitelogo_red.png.xhtml?ln=images");
    background-size : 45px auto;
    background-repeat: no-repeat;
    background-position : center center;

}


input.logout:hover {
    background-image: url("gnome_logout.png.xhtml?ln=images");
}


a.comodo {
    float: right;
    width:80px;
    height:30px;
    background-image: url("comodo.png.xhtml?ln=images");
    background-repeat: no-repeat;
    background-position : center center;
}


.buttonSearch {
    margin-left:3px;
    float:left;
    width : 34px;
    height: 32px;
    border : none;
    background-color: transparent;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url("icons8-binoculars-32.png.xhtml?ln=images");
}

.buttonSave{
    cursor : pointer;
    margin-left:3px;
    float:left;
    width : 34px;
    height: 32px;
    border : none;
    background-color: transparent;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url("icons8-save-close-32.png.xhtml?ln=images");
}

.buttonMail{
    cursor : pointer;
    margin-left:3px;
    float:right;
    width : 34px;
    height: 32px;
    border : none;
    background-color: transparent;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url("e_mail.png.xhtml?ln=images");
}

.buttonAddPerson {
    cursor : pointer;
    margin-left:3px;
    float:left;
    width : 20px;
    height: 20px;
    border : none;
    background-color: transparent;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-image: url("user_add.png.xhtml?ln=images");
}

.buttonAddOKPerson {
    cursor : pointer;
    margin-left:3px;
    float:left;
    width : 35px;
    height: 22px;
    border : none;
    background-color: transparent;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-image: url("user_ok.png.xhtml?ln=images");
}

.buttonRemoveReclient{
    cursor : pointer;
    margin-left:3px;
    float:left;
    width : 20px;
    height: 20px;
    border : none;
    background-color: transparent;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-image: url("userblue_delete.png.xhtml?ln=images");
}

.buttonPDFforClient{
    cursor : pointer;
    margin-left:3px;
    float:left;
    width : 20px;
    height: 20px;
    border : none;
    background-color: transparent;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-image: url("file_pdf.png.xhtml?ln=images");
}

.buttonEmailforClient{
    cursor : pointer;
    margin-left:3px;
    float:left;
    width : 20px;
    height: 20px;
    border : none;
    background-color: transparent;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-image: url("email_at.png.xhtml?ln=images");
}



.buttonEditMessage {
    cursor : pointer;
    margin-left:3px;
    float:left;
    width : 20px;
    height: 20px;
    border : none;
    background-color: transparent;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-image: url("edit.png.xhtml?ln=images");
}


.pdfDownload {
    float:left;
    width : 155px;
    background-color: transparent;
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url("file_pdf.png.xhtml?ln=images");
    margin: 0;
    margin-bottom: 2px;
}

img.logoutImage {

}

a.menuButton.current:hover {

}

div.CenterPage {
    /*
    background-color: #f0f4ff;
    */
    background: url(clouds03.png.xhtml?ln=images) repeat-x ;
    background-position: -230px -25px;
    background-size: 506px 180px;

    width: 900px;
    margin-top: 20px;
    margin-left : auto;
    margin-right: auto;

    /*border: groove 2px  white;*/
    padding : 4px;
}

div.MainCenterPage {
    background-color: #f0f4ff;
    width: 900px;
    margin : 0 auto 0 auto;
    border: groove 2px  white;
    padding : 5px;
    min-height: 450px;
}

div.MenuBar {
    position :relative;
    background-color: transparent;
    width: 900px;

    margin : 12px auto 0 auto;
    padding :0 5px 0 5px; /* top right bottom left */
}

div.LoginPage {
    background-color: #f0f4ff;
    width: 600px;
    height:200px;
    margin: 150px auto auto auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

    border: groove 2px  white;
    padding : 5px;
}

form.login {
    width: 400px;
    margin-top: 20px;
    margin-left : auto;
    margin-right: auto;
}

table.people {
    margin-top: 20px;
    border-collapse: collapse; /* so we can control cellspacing in a practical way */
    border-bottom:0; /* you may not want the bottom of your table have spacing */
}

table.people th,
table.people td {
    padding: 2px;
    text-align: left;

    border: 0px solid #000; /* this can be seen as cellspacing... */
    border-bottom:0;
    padding-right: 20px;
}

/* you may not want the top of your table have spacing */
table.people th {
    border-top: 0;
}

/* you may not want the left most and right most side of your table have spacing */
table.people th.first,
table.people td.name {
    border-left: 0;
}

table.people th.last,
table.people td.dateOfBirth {
    border-right: 0;
}

table.people th {
    background-color: #dd2640;
    color: #ffff00;
}

table.people tr.odd {
    background-color: #ffffd2;
}

table.people tr.even {
    background-color: #e5fbe8;
}