<style>
<!--
    td {
        vertical-align: top !important;
        font-family: Arial, Verdana, Tahoma;
    }

    H1 {
        color: #dd2640;
    }
-->
</style>
<table>
  <tr>
      <td>
          Base message

      </td>
      <td>
          Base Image
      </td>
  </tr>

</table>
