table{
    border-collapse: collapse;
    width: 16cm !important;
}

table tr{
    margin : 0;
    padding : 0;
}

table tr  td {
    font-family: Verdana, Arial, 'sans-serif' !important;
    padding : 0.1cm !important;
    margin: 0;
    font-size : 10pt !important;
    white-space: nowrap;
    vertical-align: top;
}

p.pdf6cm {
    display: block;
    overflow: hidden;
    font-family: Verdana, Arial, 'sans-serif' !important;
    font-size : 10pt !important;
    width: 7cm !important;
}

img {
    margin : 0.2cm !important;
}

img.pdfLeft {
    float:left !important;;
}

img.pdfRight {
    float:right !important;;
}



